@use "./scss/abstracts/variables" as *;
@use "./scss/base/resets" as *;

body {
    background-color: $bgColor;
    color: $white;
    font-size: 16px;
    min-height: 100vh;
    font-family: $textFont;
}

.container {
    width: 80%;
    max-width: 1440px;
    margin-inline: auto;
}

.translator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    height: 90vh;

    &__logo {
        @media screen and (max-width: 1280px) {
            width: 200px;
        }
    }

    &__input,
    &__output {
        background-color: $inputColor;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 6px;
        outline: none;
        color: $white;
        resize: none;
        width: 60%;
        height: 20vh;

        &::placeholder {
            font-size: 1rem;
        }

        @media screen and (max-width: 1280px) {
            width: 70%;
            font-size: 0.8rem;

            &::placeholder {
                font-size: 0.8rem;
            }
        }
    }

    &__desc {
        margin-bottom: 20px;
        font-size: 1rem;
        color: $offGrey;

        @media screen and (max-width: 1280px) {
            font-size: 0.8rem;
        }
    }

    .translator__btns {
        display: flex;
        align-items: center;
        gap: 1rem;

        .translator__btn {
            padding: 0.8rem 2rem;
            margin: 1rem 0;
            font-size: 1rem;
            border: none;
            border-radius: 6px;
            font-weight: 700;
            transition: 0.5s ease-in-out;

            @media screen and (max-width: 1280px) {
                font-size: 0.7rem;
            }

            &--translate {
                background: $accentGradient;
                color: $white;
            }

            &--clear {
                background: transparent;
                border: 1px solid $primaryRed;
                color: $primaryRed;
            }
        }
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-top: 1px solid rgb(119, 119, 119);
    height: 10vh;

    &__logo {
        width: 80px;
    }

    &__copyright {
        font-size: 0.8rem;
        color: $offGrey;
    }
}
